<div id="login">
    <div *ngIf="user">
        <h1>Hello {{user}}</h1>
    </div>
  <form class="form col-xs-4 col-sm-4 col-md-4 col-lg-4" *ngIf="!isLogin()" >
    <div class="form-group">
      <label for="user" class="control-label">User</label>
      <input type="text" [(ngModel)]="user" name="user"
             class="form-control" id="user" placeholder="Enter user">
    </div>
    <div class="form-group">
      <label for="user" class="control-label">Password</label>
      <input type="password" [(ngModel)]="password" name="password"
             class="form-control" id="password" placeholder="Enter password">
    </div>
    <div class = "form-group">
      <button (click)="login()" type="submit" class="btn
btn-primary">Login</button>
    </div>
  </form>
  <div class="alert alert-success col-xs-4 col-sm-4 col-md-4 col-lg-4"
       role="alert" *ngIf="isLogin()">
    <strong>Well done!</strong> You are logged in.
  </div>
  <div class="alert alert-warning col-xs-4 col-sm-4 col-md-4 col-lg-4"
       role="alert" *ngIf="isFailedLogIn">
    <strong>Could not log you in!</strong>
  </div>
</div>