.card {
    max-width: 50rem;
    cursor: pointer;
    transition: box-shadow, transform .3s;
    border-radius:10px;
    border: 1px solid #ccc;
}

.card:hover {
    box-shadow: 0 0 21px lightskyblue;
    transform: translateY(-0.25em);
    border: 1px solid #008ccc;
}

.bold {
    font-weight: bold;
}

.col {
    max-width: 11rem;
    text-align: center;
}