.card {
    width: 30rem;
    cursor: pointer;
    transition: box-shadow, transform .3s;
    border-radius:10px;
    border: 1px solid #ccc;
    margin-left: 1rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 1rem;
}

.card:hover {
    box-shadow: 0 0 21px lightskyblue;
    transform: translateY(-0.25em);
    border: 1px solid #008ccc;
}

.bold {
    font-weight: bold;
}

.col {
    max-width: 11rem;
    text-align: center;
}