.search-form {
    margin: 1rem 0.5rem 0.5rem 1rem;
    width: 50rem;
    padding: 3rem;
    border: 1px solid lightgrey;
    border-radius: 10px;
    transition: box-shadow .3s;
    background-color: white;
}

.search-form:hover {
    box-shadow: 0 0 21px lightskyblue;
    border: 1px solid #008ccc;
}

.button {
    width: 5rem;
    transition: transform .3s;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
}

.button {
    width: 5rem;
    float: right;
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}


